[submodule "debian"]
	path = debian
	url = https://github.com/gbraad-devenv/debian
[submodule "fedora"]
	path = fedora
	url = https://github.com/gbraad-devenv/fedora
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/gbraad-devenv/dotfiles
[submodule "dotfiles-upstream"]
	path = dotfiles-upstream
	url = https://github.com/gbraad/dotfiles
[submodule "centos"]
	path = centos
	url = https://github.com/gbraad-devenv/centos
[submodule "ubuntu"]
	path = ubuntu
	url = https://github.com/gbraad-devenv/ubuntu
[submodule "centos-template"]
	path = centos-template
	url = https://github.com/gbraad-devenv/centos-template
[submodule "alpine-template"]
	path = alpine-template
	url = https://github.com/gbraad-devenv/alpine-template
[submodule "debian-template"]
	path = debian-template
	url = https://github.com/gbraad-devenv/debian-template
[submodule "fedora-template"]
	path = fedora-template
	url = https://github.com/gbraad-devenv/fedora-template
[submodule "ubuntu-template"]
	path = ubuntu-template
	url = https://github.com/gbraad-devenv/ubuntu-template
[submodule "alpine"]
	path = alpine
	url = https://github.com/gbraad-devenv/alpine
